autom4te.cache
Makefile
Makefile.in
po/POTFILES
stamp*
aclocal.m4
config.h
config.h.in
config.h.in.orig
src/config_h.in
src/config_h.in.orig
config.log
config.status
configure
config.guess
config.sub
config.rpath
compile
depcomp
install-sh
missing
test-driver
intltool-extract
intltool-merge
intltool-update
version_date.h
.DS_Store
*.framework
*.xcworkspace
xcuserdata
m4/amversion.m4
m4/auxdir.m4
m4/cond.m4
m4/depend.m4
m4/depout.m4
m4/glib-gettext.m4
m4/init.m4
m4/install-sh.m4
m4/lead-dot.m4
m4/maintainer.m4
m4/make.m4
m4/missing.m4
m4/options.m4
m4/sanity.m4
m4/silent.m4
m4/strip.m4
m4/substnot.m4
m4/tar.m4
m4/cond-if.m4
m4/mkdirp.m4
m4/prog-cc-c-o.m4
m4/runlog.m4
*.o
*.a
src/udo
*.gmo
*.ttp
*.exe
*.tos
*.app
*.prg
*.pdb
doc/output
doc/*/version.ui
.deps
.stamp*
.dirstamp
