#define RT_MOFILE 257

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./de.gmo"
LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./fr.gmo"

#define PO_TRANSLATIONS 0x0409, 1200, 0x0007, 1200, 0x000c, 1200

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

