#!/usr/bin/make -f
# debian/rules file for udo that uses debhelper.
# This file is public domain software, originally written by Joey Hess.

path=$(shell pwd)

build: build-stamp
build-stamp:
	dh_testdir

	$(MAKE) -C Source

	mkdir debian/tmp
	mkdir debian/tmp/eng
	mkdir debian/tmp/eng/html
	mkdir debian/tmp/eng/html/images
	mkdir debian/tmp/ger
	mkdir debian/tmp/ger/html
	mkdir debian/tmp/ger/html/images
	Source/udo --nroff -o $(path)/debian/tmp/eng/udo.1 $(path)/Guide/eng/manual/manpage.u
	dh_installman -a $(path)/debian/tmp/eng/udo.1
	Source/udo -a -o $(path)/debian/tmp/eng/udo.txt $(path)/Guide/eng/manual/index.u
	Source/udo -a -o $(path)/debian/tmp/ger/udo.txt $(path)/Guide/ger/manual/index.u
	cp Guide/eng/manual/images/*.gif debian/tmp/eng/html/images/
	Source/udo --html -o $(path)/debian/tmp/eng/html/index.html $(path)/Guide/eng/manual/index.u
	cp Guide/ger/manual/images/*.gif debian/tmp/ger/html/images/
	Source/udo --html -o $(path)/debian/tmp/ger/html/index.html $(path)/Guide/ger/manual/index.u

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

	-$(MAKE) -C Source clean

	rm -rf debian/tmp

	dh_clean

install:
install: build
	dh_testdir
	dh_testroot
	dh_installdirs

	$(MAKE) -C Source install DESTDIR=$(CURDIR)/debian/udo

# Here udo docs need to be build
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installman -i
	dh_link -i
	dh_compress -i -X.ui -X.u
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i
	dh_install -i

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_strip -a
	dh_link -a
	dh_compress -a -X.ui -X.u
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a
	dh_install -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
