#define RT_MOFILE 257

LANGUAGE LANG_CZECH, SUBLANG_CZECH_CZECH_REPUBLIC
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./cs.gmo"
LANGUAGE LANG_DANISH, SUBLANG_DANISH_DENMARK
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./da.gmo"
LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./de.gmo"
LANGUAGE LANG_SPANISH, SUBLANG_SPANISH
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./es.gmo"
LANGUAGE LANG_FINNISH, SUBLANG_FINNISH_FINLAND
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./fi.gmo"
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./fr.gmo"
LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./it.gmo"
LANGUAGE LANG_JAPANESE, SUBLANG_JAPANESE_JAPAN
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./ja.gmo"
LANGUAGE LANG_LATVIAN, SUBLANG_LATVIAN_LATVIA
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./lv.gmo"
LANGUAGE LANG_DUTCH, SUBLANG_DUTCH
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./nl.gmo"
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_NYNORSK
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./nn.gmo"
LANGUAGE LANG_POLISH, SUBLANG_POLISH_POLAND
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./pl.gmo"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./pt.gmo"
LANGUAGE LANG_SWEDISH, SUBLANG_SWEDISH
1 RT_MOFILE LOADONCALL MOVEABLE DISCARDABLE IMPURE "./sv.gmo"

#define PO_TRANSLATIONS 0x0409, 1200, 0x0405, 1200, 0x0406, 1200, 0x0407, 1200, 0x040a, 1200, 0x040b, 1200, 0x040c, 1200, 0x0410, 1200, 0x0411, 1200, 0x0426, 1200, 0x0413, 1200, 0x0814, 1200, 0x0415, 1200, 0x0816, 1200, 0x041d, 1200

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

