#include "resource.rh"

#ifndef WS_POPUP
#  define WS_POPUP 0x80000000
#endif
#ifndef WS_CHILD
#  define WS_CHILD 0x40000000
#endif
#ifndef WS_VISIBLE
#  define WS_VISIBLE 0x10000000
#endif
#ifndef WS_CAPTION
#  define WS_CAPTION 0xc00000
#endif
#ifndef WS_BORDER
#  define WS_BORDER 0x800000
#endif
#ifndef WS_SYSMENU
#  define WS_SYSMENU 0x80000
#endif
#ifndef WS_CHILD
#  define WS_CHILD 0x40000000
#endif
#ifndef WS_VISIBLE
#  define WS_VISIBLE 0x10000000
#endif
#ifndef WS_BORDER
#  define WS_BORDER 0x800000
#endif
#ifndef WS_VSCROLL
#  define WS_VSCROLL 0x200000
#endif
#ifndef WS_GROUP
#  define WS_GROUP 0x20000
#endif
#ifndef WS_TABSTOP
#  define WS_TABSTOP 0x10000
#endif
#ifndef DS_3DLOOK
#  define DS_3DLOOK 0x4
#endif
#ifndef DS_SETFONT
#  define DS_SETFONT 0x40
#endif
#ifndef DS_MODALFRAME
#  define DS_MODALFRAME 0x80
#endif
#ifndef BS_PUSHBUTTON
#  define BS_PUSHBUTTON 0x0
#endif
#ifndef BS_DEFPUSHBUTTON
#  define BS_DEFPUSHBUTTON 0x1
#endif
#ifndef BS_AUTOCHECKBOX
#  define BS_AUTOCHECKBOX 0x3
#endif
#ifndef BS_GROUPBOX
#  define BS_GROUPBOX 0x7
#endif
#ifndef BS_AUTORADIOBUTTON
#  define BS_AUTORADIOBUTTON 0x9
#endif
#ifndef BS_BITMAP
#  define BS_BITMAP 0x80
#endif
#ifndef ES_LEFT
#  define ES_LEFT 0x0
#endif
#ifndef ES_AUTOHSCROLL
#  define ES_AUTOHSCROLL 0x80
#endif
#ifndef ES_READONLY
#  define ES_READONLY 0x800
#endif
#ifndef SS_LEFT
#  define SS_LEFT 0x0
#endif
#ifndef SS_ICON
#  define SS_ICON 0x3
#endif
#ifndef SS_BITMAP
#  define SS_BITMAP 0xe
#endif
#ifndef SS_NOPREFIX
#  define SS_NOPREFIX 0x80
#endif
#ifndef SS_NOTIFY
#  define SS_NOTIFY 0x100
#endif
#ifndef CBS_DROPDOWNLIST
#  define CBS_DROPDOWNLIST 0x3
#endif
#ifndef CBS_AUTOHSCROLL
#  define CBS_AUTOHSCROLL 0x40
#endif
#ifndef CBS_HASSTRINGS
#  define CBS_HASSTRINGS 0x200
#endif
#ifndef VS_FFI_FILEFLAGSMASK
#  define VS_FFI_FILEFLAGSMASK 0x3f
#endif
#ifndef VOS_UNKNOWN
#  define VOS_UNKNOWN 0x0
#endif
#ifndef VOS__WINDOWS32
#  define VOS__WINDOWS32 0x4
#endif
#ifndef VFT_APP
#  define VFT_APP 0x1
#endif
#ifndef FVIRTKEY
#  define FVIRTKEY 0x1
#endif
#ifndef FCONTROL
#  define FCONTROL 0x8
#endif
#ifndef FALT
#  define FALT 0x10
#endif
#ifndef LANG_ENGLISH
#  define LANG_ENGLISH 0x9
#endif
#ifndef SUBLANG_ENGLISH_US
#  define SUBLANG_ENGLISH_US 0x1
#endif
#ifndef IDOK
#  define IDOK 1
#endif
#ifndef IDCANCEL
#  define IDCANCEL 2
#endif
#ifndef IDHELP
#  define IDHELP 9
#endif
#ifndef IDC_STATIC
#  define IDC_STATIC -1
#endif



LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDR_MAINFRAME	ICON	DISCARDABLE "res/udosh.ico"
IDR_DH		ICON	DISCARDABLE "res/dh.ico"
IDB_WEBLINK	BITMAP	DISCARDABLE "res/weblink.bmp"
IDB_EMAIL	BITMAP	DISCARDABLE "res/mail.bmp"


IDR_MAIN_MENU MENU PRELOAD DISCARDABLE 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Select Source...\tCtrl+O",	IDM_FILE_OPEN
		MENUITEM "&Select Destination\tCtrl+S", IDM_FILE_SAVE
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tCtrl+Q",		IDM_APP_EXIT
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "&Format Configuration...\tAlt+F",  	IDM_OPT_CONFIGURATION
		MENUITEM "&Settings...\tALt+S", 		IDM_OPT_SETTINGS
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Contents",			IDM_HELP_CONTENTS
		MENUITEM "&Index",			IDM_HELP_INDEX
		MENUITEM SEPARATOR
		MENUITEM "UDO Help",			IDM_HELP_UDO
		MENUITEM "UDO Command Index",		IDM_HELP_UDO_INDEX
		MENUITEM SEPARATOR
		MENUITEM "About",			IDM_HELP_ABOUT
	END
END


IDD_ABOUTBOX DIALOG PRELOAD DISCARDABLE 0, 0, 168, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "About UDO Shell"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL IDR_MAINFRAME, IDC_UDO_ICON, "STATIC", SS_ICON | SS_LEFT | WS_CHILD | WS_VISIBLE, 125,5,18,20
	CONTROL "UDO Shell for Win32", IDC_STATIC, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,5,67,8
	CONTROL "Version 1.06, June 2013", IDC_VERSION, "STATIC", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,15,116,8
	CONTROL "Copyright \xA9 1997-2013 by", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,30,86,8
	CONTROL "Thorsten Otto", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,45,47,8
	CONTROL "Katharinenstr. 14", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 55, 56, 8
	CONTROL "D-45131 Essen", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,65,57,8
	CONTROL "Germany", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,75,57,8
	CONTROL "E-Mail:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,90,101,8
	CONTROL "admin@tho-otto.de", IDC_EMAIL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,90,101,8
	CONTROL IDB_EMAIL, IDC_EMAILLINK, "STATIC", SS_LEFT | SS_BITMAP | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 140,85,18,18
	CONTROL "WWW:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5,115,136,8
	CONTROL "http://www.udo-open-source.org", IDC_URL, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOTIFY, 30,115,136,8
	CONTROL IDB_WEBLINK, IDC_WEBLINK, "BUTTON", BS_PUSHBUTTON | BS_BITMAP, 140,110,18,18
	CONTROL "&OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 58,130,50,14
END


IDD_MAIN_DIALOG DIALOG PRELOAD DISCARDABLE 0, 0, 357, 231
STYLE WS_VISIBLE | WS_CHILD | DS_3DLOOK | WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT		"Source:",IDC_STATIC,5,5,30,8
	CONTROL 	"", IDC_FILE_SOURCE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | CBS_AUTOHSCROLL| WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 45,5,175,140
	PUSHBUTTON	"...",IDC_CHOOSE_SOURCE,225,5,14,14
	DEFPUSHBUTTON	"Exec",IDC_EXEC_SOURCE,245,5,50,14
	PUSHBUTTON	"Edit",IDC_EDIT_SOURCE,300,5,50,14
	LTEXT		"Dest:",IDC_STATIC,5,20,22,8
	EDITTEXT	IDC_FILE_DEST,45,20,175,14,ES_AUTOHSCROLL
	PUSHBUTTON	"...",IDC_CHOOSE_DEST,225,20,14,14
	PUSHBUTTON	"Exec",IDC_EXEC_DEST,245,20,50,14
	PUSHBUTTON	"Edit",IDC_EDIT_DEST,300,20,50,14
	LTEXT		"Param #1:",IDC_STATIC,5,35,38,8
	CONTROL 	"",IDC_FILE_PARAM1,"EDIT",ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER,45,35,195,14
	PUSHBUTTON	"Exec",IDC_EXEC_PARAM1,245,35,50,14
	PUSHBUTTON	"Edit",IDC_EDIT_PARAM1,300,35,50,14
	LTEXT		"Param #2:",IDC_STATIC,5,50,38,8
	EDITTEXT	IDC_FILE_PARAM2,45,50,195,14,ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON	"Exec",IDC_EXEC_PARAM2,245,50,50,14
	PUSHBUTTON	"Edit",IDC_EDIT_PARAM2,300,50,50,14
	LTEXT		"Result:",IDC_STATIC,5,65,27,8
	EDITTEXT	IDC_FILE_FINAL,45,65,195,14,ES_AUTOHSCROLL | ES_READONLY
	PUSHBUTTON	"Exec",IDC_EXEC_FINAL,245,65,50,14
	PUSHBUTTON	"Edit",IDC_EDIT_FINAL,300,65,50,14
	LTEXT		"&Format:",IDC_STATIC,5,85,24,8
	COMBOBOX	IDC_FORMAT_COMBO,45,86,75,139,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

	GROUPBOX	"Symbols",IDC_STATIC,5,100,180,115
	CONTROL 	"-D",IDC_CHECK_SYM1,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,117,23,10
	EDITTEXT	IDC_EDIT_SYM1,40,115,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM2,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,132,23,10
	EDITTEXT	IDC_EDIT_SYM2,40,130,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM3,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,147,23,10
	EDITTEXT	IDC_EDIT_SYM3,40,145,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM4,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,162,23,10
	EDITTEXT	IDC_EDIT_SYM4,40,160,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM5,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,177,23,10
	EDITTEXT	IDC_EDIT_SYM5,40,175,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM6,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,192,23,10
	EDITTEXT	IDC_EDIT_SYM6,40,190,55,14,ES_AUTOHSCROLL

	CONTROL 	"-D",IDC_CHECK_SYM7,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,117,23,10
	EDITTEXT	IDC_EDIT_SYM7,125,115,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM8,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,132,23,10
	EDITTEXT	IDC_EDIT_SYM8,125,130,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM9,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,147,23,10
	EDITTEXT	IDC_EDIT_SYM9,125,145,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM10,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,162,23,10
	EDITTEXT	IDC_EDIT_SYM10,125,160,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM11,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,177,23,10
	EDITTEXT	IDC_EDIT_SYM11,125,175,55,14,ES_AUTOHSCROLL
	CONTROL 	"-D",IDC_CHECK_SYM12,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,192,23,10
	EDITTEXT	IDC_EDIT_SYM12,125,190,55,14,ES_AUTOHSCROLL

	GROUPBOX	"Options",IDC_STATIC,190,80,165,150,WS_GROUP
	CONTROL 	"Test mode",IDC_CHECK_TEST,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,90,53,10
	CONTROL 	"Verbose",IDC_CHECK_VERB,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,105,46,10
	CONTROL 	"Press key",IDC_CHECK_KEY,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,120,51,10
	CONTROL 	"Warnings",IDC_CHECK_WARN,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,135,50,10
	CONTROL 	"Check",IDC_CHECK_CHECK,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,150,41,10
	CONTROL 	"Into folder",IDC_CHECK_DIR,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,165,51,10
	CONTROL 	"Force long",IDC_CHECK_FORCE_LONG,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,180,51,10
	CONTROL 	"Force short",IDC_CHECK_FORCE_SHORT,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,195,51,10
	CONTROL 	"Fast autoref",IDC_CHECK_FAST_AUTOREF,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,195,210,55,10

	CONTROL 	"Log file",IDC_CHECK_LOG,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,250,90,39,10
	PUSHBUTTON	"Edit",IDC_BUTTON_LOG,300,90,50,14
	CONTROL 	"Hyp file",IDC_CHECK_HYP,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,250,105,39,10
	PUSHBUTTON	"Edit",IDC_BUTTON_HYP,300,105,50,14
	CONTROL 	"Tree file",IDC_CHECK_TREE,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,250,120,41,10
	PUSHBUTTON	"Edit",IDC_BUTTON_TREE,300,120,50,14
	CONTROL 	"C Map",IDC_CHECK_MAP_C,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,250,135,44,10
	PUSHBUTTON	"Edit",IDC_BUTTON_MAP_C,300,135,50,14
	CONTROL 	"Pas Map",IDC_CHECK_MAP_PAS,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,250,150,44,10
	PUSHBUTTON	"Edit",IDC_BUTTON_MAP_PAS,300,150,50,14
	CONTROL 	"VB Map",IDC_CHECK_MAP_VB,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,250,165,41,10
	PUSHBUTTON	"Edit",IDC_BUTTON_MAP_VB,300,165,50,14
	CONTROL 	"GFA Map",IDC_CHECK_MAP_GFA,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,250,180,46,10
	PUSHBUTTON	"Edit",IDC_BUTTON_MAP_GFA,300,180,50,14
	CONTROL 	"UPR file",IDC_CHECK_UPR,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,250,195,41,10
	PUSHBUTTON	"Edit",IDC_BUTTON_UPR,300,195,50,14
END


IDD_CONFIG_DIALOG DIALOG PRELOAD DISCARDABLE  0, 0, 307, 165
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Format configuration"
FONT 8, "MS Sans Serif"
BEGIN
	GROUPBOX	"File type",IDC_STATIC,5,5,80,60
	CONTROL 	"Destination",IDC_RADIO_DEST,"BUTTON",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,10,20,65,10
	CONTROL 	"Parameter #1",IDC_RADIO_PARAM1,"BUTTON",BS_AUTORADIOBUTTON,10,30,65,10
	CONTROL 	"Parameter #2",IDC_RADIO_PARAM2,"BUTTON",BS_AUTORADIOBUTTON,10,40,65,10
	CONTROL 	"Result",IDC_RADIO_FINAL,"BUTTON",BS_AUTORADIOBUTTON,10,50,70,10
	GROUPBOX	"Options",IDC_STATIC,90,5,120,75
	LTEXT		"Suffix",IDC_STATIC,100,20,18,8
	EDITTEXT	IDC_EDIT_SUFFIX,125,20,40,14,ES_AUTOHSCROLL | WS_TABSTOP
	CONTROL 	"lowercase file names",IDC_CHECK_LOWERCASE,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,40,105,10
	CONTROL 	"Unix path for application",IDC_CHECK_UNIXPATH,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,50,97,10
	CONTROL 	"Wait for completion",IDC_CHECK_WAIT,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,100,60,97,10
	LTEXT		"Application:",IDC_STATIC,10,80,65,8
	EDITTEXT	IDC_FILE_APP,10,95,270,14,ES_AUTOHSCROLL | ES_READONLY
	LTEXT		"Args:",IDC_STATIC,10,112,65,8
	EDITTEXT	IDC_FILE_ARGS,10,123,270,14,ES_AUTOHSCROLL
	PUSHBUTTON	"...",IDC_CHOOSE_APP,290,95,14,14
	DEFPUSHBUTTON	"&OK",IDOK,5,145,50,14
	PUSHBUTTON	"C&ancel",IDCANCEL,60,145,50,14
	PUSHBUTTON	"&Help",IDHELP,250,145,50,14
END


IDD_SETTING_DIALOG DIALOG PRELOAD DISCARDABLE  0, 0, 217, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_3DLOOK
CAPTION "Shell Options"
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL 	"Shell always on top",IDC_CHECK_AOT,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,15,77,10
	CONTROL 	"Create directories",IDC_CREATE_DIRS,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,30,77,10
	CONTROL 	"Use integrated UDO",IDC_USE_UDO,"BUTTON",BS_AUTOCHECKBOX | WS_TABSTOP,15,45,77,10
	LTEXT		"(Release x Patchlevel xx)",IDC_INT_UDO_VERSION,100,45,100,8
	LTEXT		"UDO Helpfile:",IDC_STATIC,15,60,50,8
	EDITTEXT	IDC_UDO_HELPFILE,70,57,120,14,ES_AUTOHSCROLL | WS_TABSTOP
	PUSHBUTTON	"...",IDC_CHOOSE_UDO_HELPFILE,200,57,14,14
	LTEXT		"Topic:",IDC_STATIC,15,75,50,8
	EDITTEXT	IDC_UDO_HELP_COMMANDS,70,72,120,14,ES_AUTOHSCROLL | WS_TABSTOP
	DEFPUSHBUTTON	"&OK",IDOK,5,100,50,14
	PUSHBUTTON	"C&ancel",IDCANCEL,60,100,50,14
	PUSHBUTTON	"&Help",IDHELP,160,100,50,14
END


IDD_STATUS_DIALOG DIALOG PRELOAD DISCARDABLE  0, 0, 360, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_VISIBLE | DS_3DLOOK
CAPTION "UDO Status"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT		"Pass",IDC_STATUS_PASS,15,15,295,10
	LTEXT		"Info",IDC_STATUS_INFO,15,30,295,10
	LTEXT		"File",IDC_STATUS_FILE,15,45,295,10
	LTEXT		"Node",IDC_STATUS_NODE,15,60,295,10
	CONTROL 	"Progress",IDC_STATUS_PROGRESS,MY_PROGRESS_CONTROL,WS_CHILD|WS_VISIBLE|WS_BORDER,15,75,330,14
	DEFPUSHBUTTON	"C&ancel",IDCANCEL,155,100,50,14
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,6,0
PRODUCTVERSION 1,0,6,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "Dirk Hagedorn Soft- & Hardware\0"
			VALUE "FileDescription", "UDO-Shell für Win32\0"
			VALUE "FileVersion", "1, 0, 6, 0\0"
			VALUE "InternalName", "UDOSH\0"
			VALUE "LegalCopyright", "Copyright \251 1997, 1998 by Dirk Hagedorn\0"
			VALUE "OriginalFilename", "UDOSH.EXE\0"
			VALUE "ProductName", "UDOSH\0"
			VALUE "ProductVersion", "1, 0, 6, 0\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END


STRINGTABLE PRELOAD DISCARDABLE
BEGIN
	IDS_WINDOW_TITLE        "UDO Shell for Win32"
	IDS_ABOUTBOX		"Ab&out UDO Shell..."
	IDS_CHOOSE_SOURCE	"Choose UDO source file..."
	IDS_SELECT_SOURCE       "UDO files (*.u*)\0*.u*\0All files (*.*)\0*.*\0\0"
	IDS_CHOOSE_DEST         "Choose destination file..."
	IDS_SELECT_DEST         "All files (*.*)\0*.*\0\0"
	IDS_CHOOSE_EDITOR       "Choose editor for %s files..."
	IDS_SELECT_PROGRAM      "Program files (*.exe;*.bat;*.cmd)\0*.exe;*.bat;*.cmd\0All files (*.*)\0*.*\0\0"
	IDS_SOURCE_NOT_AVAILABLE "The source file\n%s\ndoesn't exist!"
	IDS_NO_SOURCE_SELECTED  "Please select a source file first!"
	IDS_WHICH_SOURCE        "UDO and log"
	IDS_WHICH_DESTINATION   "destination"
	IDS_WHICH_PARAMETER     "parameter"
	IDS_WHICH_RESULT        "result"
	IDS_TYPE_SOURCE         "source"
	IDS_TYPE_DESTINATION    "destination"
	IDS_TYPE_PARAMETER      "parameter"
	IDS_TYPE_RESULT         "result"
	IDS_FILE_NOT_AVAILABLE  "The %s file\n%s\ndoesn't exist.\nStart the editor anyway?"
	IDS_CHOOSE_UDO          "Choose UDO binary..."
	IDS_NO_DEST_SELECTED    "No destination file available!"
	IDS_MAKEDIR             "The destination directory doesn't exist.\nMake directory now to prevent UDO from\ndisplaying an error message?"
	IDS_ERR_MAKEDIR         "Couldn't make directory!"
	IDS_ERR_NODIR           "Directory doesn't exist!?"
	IDS_CHOOSE_APPLICATION  "Choose application for %s file..."
	IDS_FILE_NOT_AVAILABLE2 "The %s file\n%s\ndoesn't exist."
	IDS_NO_EDITOR           "You haven't defined an editor for UDO files!\nClick the upper right button while pressing\nthe ctrl key to choose an editor."
	IDS_TYPE_LOG            "log"
	IDS_TYPE_HYPHEN         "hyphenation pattern"
	IDS_TYPE_TREE           "tree"
	IDS_TYPE_MAP            "map"
	IDS_TYPE_PROJECT        "project"
	IDS_UDO_HELPFILE        "udo6en.chm"
	IDS_UDO_HELP_COMMANDS   "Command index"
	IDS_ERR_CREATE_LOG      "UDO can't create log file"
	IDS_ERR_CREATE_TREE     "UDO can't create tree file"
	IDS_ERR_CREATE_UPR      "UDO can't create project file"
	IDS_ERR_CREATE_HYPHEN   "UDO can't create hyphen file"
	IDS_ERR_CREATE_OUTPUT   "UDO can't create output file"
	IDS_CANCEL              "C&ancel"
	IDS_OK                  "&OK"
	IDS_CHOOSE_HELP         "Choose UDO Help file..."
	IDS_SELECT_HELP         "Help files (*.hlp;*.chm)\0*.hlp;*.chm\0All files (*.*)\0*.*\0\0"
END


IDR_ACCEL ACCELERATORS 
BEGIN
	"O", IDM_FILE_OPEN, VIRTKEY, CONTROL
	"S", IDM_FILE_SAVE, VIRTKEY, CONTROL
	"Q", IDM_APP_EXIT, VIRTKEY, CONTROL
	"F", IDM_OPT_CONFIGURATION, VIRTKEY, ALT
	"S", IDM_OPT_SETTINGS, VIRTKEY, ALT
END
